// Container Width
$container-width: 800px;

// Font Family 
$font: "Titillium Web",Sans-serif ;

// Board Background Color Variable
$board-bg-color : #1F4788;

// Submit Btn color 
$submit-btn-color: #82bc4c;